body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --background-color: white;
    --text-color: black;
    --elements-color: hsl(209, 23%, 22%);
}
  
  /* Dark mode styles */
body[data-theme='dark'] {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
}